sudo: false
dist: trusty
language: node_js

git:
  depth: 1

branches:
  only:
    - master
    - next

cache:
  directories:
    - $HOME/.npm
    - node_modules

matrix:
  fast_finish: true
  include:
    - os: linux
      node_js: '10'
      script: npm run $JOB_PART
      env: JOB_PART=pretest
    - os: linux
      node_js: '10'
      script: npm run $JOB_PART
      env: JOB_PART=test-only
    - os: linux
      node_js: '9'
      script: npm run $JOB_PART
      env: JOB_PART=test-only
    - os: linux
      node_js: '8'
      script: npm run $JOB_PART
      env: JOB_PART=test-only
    - os: linux
      node_js: '6'
      script: npm run $JOB_PART
      env: JOB_PART=test-only
    - os: osx
      node_js: "10"
      env: JOB_PART=test-only

before_install:
  - 'if [[ `npm -v` != 5* ]]; then npm i -g npm@^5.0.0; fi'
  - nvm --version
  - node --version
  - npm --version
