@font-face {
  font-family: "webfont";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("./webfont.eot?1565728069335");
  src: url("./webfont.eot?#iefix") format("embedded-opentype"), url("./webfont.woff2?1565728069335") format("woff2"), url("./webfont.woff?1565728069335") format("woff"), url("./webfont.ttf?1565728069335") format("truetype"), url("./webfont.svg?1565728069335#webfont") format("svg");
}

.webfont {
  display: inline-block;
  font-family: "webfont";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.webfont-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.webfont-xs {
  font-size: 0.75em;
}

.webfont-sm {
  font-size: 0.875em;
}

.webfont-1x {
  font-size: 1em;
}

.webfont-2x {
  font-size: 2em;
}

.webfont-3x {
  font-size: 3em;
}

.webfont-4x {
  font-size: 4em;
}

.webfont-5x {
  font-size: 5em;
}

.webfont-6x {
  font-size: 6em;
}

.webfont-7x {
  font-size: 7em;
}

.webfont-8x {
  font-size: 8em;
}

.webfont-9x {
  font-size: 9em;
}

.webfont-10x {
  font-size: 10em;
}

.webfont-fw {
  text-align: center;
  width: 1.25em;
}

.webfont-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.webfont-pull-left {
  float: left;
}

.webfont-pull-right {
  float: right;
}

.webfont.webfont-pull-left {
  margin-right: 0.3em;
}

.webfont.webfont-pull-right {
  margin-left: 0.3em;
}


.webfont-avatar::before {
  content: "\ea01";
}

.webfont-envelope::before {
  content: "\ea02";
}

.webfont-phone-call::before {
  content: "\ea03";
}

